@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

html {
  font-family: "Inter", sans-serif;
}
body {
  background: var(--backgroundLinear);
  overflow-x: hidden;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p {
  text-decoration: none;
}
a {
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
}

/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
label,
input,
select,
button,
ion-icon {
  margin: 0;
}

img {
  height: auto;
}

input,
select,
button {
  background: none;
  border: none;
  font: inherit;
}

input,
select {
  width: 100%;
}

button {
  cursor: pointer;
  transition: 0.3s;
  outline: none;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}
.container {
  margin: 0 auto;
  max-width: 1340px;
}
